In [1]:
import pandas as pd
import numpy as np

In [14]:
# Number 1
df = pd.DataFrame(np.random.randn(5, 3), columns=['col1', 'col2', 'col3'])
df.apply(lambda x: x.max() - x.min())

col1    3.758839
col2    2.431408
col3    1.379709
dtype: float64

In [16]:
# Number 2
# data saved locally in data.csv
df = pd.read_csv('data.csv')
rows = len(df)
cols = len(df.columns)
print(f"There are {rows} rows and {cols} columns")

There are 20254 rows and 14 columns

In [21]:
# Number 3

# A. df.count()

In [7]:
# Number 4
rows = 10
columns = 3
df = pd.DataFrame(np.random.randint(1,11, size=(rows,columns)))

def filter_func(num):
    if num > 5:
        return 10
    return num
    
# df = df.applymap(filter_func)
df

   0   1   2
0  5   6   6
1  3  10  10
2  3   3  10
3  6   3   2
4  5   8   3
5  3   2   1
6  9   1  10
7  8   5   8
8  2   3   4
9  1   5   8

In [13]:
# Number 5
import requests
data = requests.get('https://jsonplaceholder.typicode.com/albums').json()
df = pd.DataFrame(data)

print(df.head())

   userId  id                                     title
0       1   1                     quidem molestiae enim
1       1   2          sunt qui excepturi placeat culpa
2       1   3                        omnis laborum odio
3       1   4  non esse culpa molestiae omnis sed optio
4       1   5                         eaque aut omnis a